# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# mypy
.mypy_cache/

# pip
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
.idea/

# macOS files
.DS_Store

# Environment variables
.env

# Firebase credentials
firebase-admin-key.json
*-key.json
